* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  background-color: rgba(212, 235, 242, 0.662745098);
  font-family: "Italianno", cursive, "Slabo 27px", serif;
  color: #9Acd32;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.contact-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.contact-fixed img {
  width: 60px;
}

header .menu-nav {
  background-color: rgba(173, 216, 230, 0.662745098);
}
header .menu-div {
  display: flex;
  justify-content: center;
}
header .menu-div .logo img {
  height: 250px;
  width: 250px;
}
header .menu-div .menu-boton {
  border: none;
}
header .menu-div .menu-boton .menu-icon {
  background-image: url(./../img/menu.svg);
  width: 4em;
  height: 3em;
}
header .menu-div .menu {
  flex-grow: 0;
}
header .menu-div .menu .menu-ul {
  text-align: center;
  justify-content: flex-end;
}
header .menu-div .menu .menu-ul li {
  display: inline-block;
  margin-right: 10px;
}
header .menu-div .menu .menu-ul li a {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.main-index .anuncio {
  max-width: 100%;
  height: 35em;
  overflow: hidden;
}
.main-index .anuncio .carousel-inner {
  height: 100%;
  background-color: rgba(186, 200, 204, 0.662745098);
}
.main-index .anuncio .carousel-inner .carousel-fotos img {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
}
.main-index .contenedor-centrado {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.main-index .contenedor-centrado .boton-anuncio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  padding: 30px;
  z-index: 2;
  width: fit-content;
}
.main-index .contenedor-centrado .boton-anuncio a {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: rgba(173, 216, 230, 0.662745098);
  font-weight: bold;
  border-radius: 45px;
  padding: 15px;
  border: 3px solid;
  align-items: center;
}
.main-index .introduccion-main {
  background-color: rgba(186, 200, 204, 0.662745098);
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 20px;
}
.main-index .introduccion-main .contenedor-texto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}
.main-index .introduccion-main .contenedor-texto .texto {
  padding: 20px;
  text-align: justify;
  overflow: auto;
  height: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.main-index .introduccion-main .contenedor-texto .texto p {
  font-size: 25px;
}

main .beneficios-programa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(186, 200, 204, 0.662745098);
  padding: 20px;
}
main .beneficios-programa .card-beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  font-size: 20px;
}
main .beneficios-programa .card-beneficios img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
main .beneficios-programa .card-beneficios div {
  width: 100%;
}
main .beneficios-programa .card-beneficios div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  color: #9Acd32;
  font-size: 30px;
  padding: 20px 0;
}
main .beneficios-programa .card-beneficios div p {
  text-align: justify;
  padding: 0 20px;
}

main .formulario {
  background-color: rgba(186, 200, 204, 0.662745098);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  padding: 25px;
}
main .formulario .form {
  width: 95%;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
main .formulario label,
main .formulario input,
main .formulario select {
  width: 95%;
  height: 40px;
  font-size: 25px;
}
main .formulario textarea {
  width: 95%;
  height: 400px;
  font-size: 20px;
}
main .formulario .boton-enviar {
  text-align: center;
}
main .formulario .boton-enviar button {
  font-size: 20px;
  color: black;
  background-color: rgba(173, 216, 230, 0.662745098);
  width: 100px;
  height: 40px;
}
main .formulario .contenedor-mapa {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
}
main .formulario .contenedor-mapa .mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .formulario .contenedor-mapa .mapa iframe {
  width: 750px;
  height: 550px;
  border: 0;
}
main .formulario .contenedor-mapa .info-direccion {
  text-align: center;
  height: auto;
}
main .formulario .contenedor-mapa .info-direccion p {
  margin-top: 25px;
  font-size: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

main .practicas-programa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-items: center;
}
main .practicas-programa .card-boton {
  width: 100%;
  height: 250px;
  position: relative;
  padding: 2vw;
  justify-content: center;
}
main .practicas-programa .card-boton a {
  text-decoration: none;
  color: black;
  background-color: rgba(173, 216, 230, 0.662745098);
  font-weight: bold;
  font-size: 25px;
  padding: 30px;
  border: 3px solid;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 15px 30px 10px;
}
main .practicas-programa .card-boton .destacado-uno,
main .practicas-programa .card-boton .destacado-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 240, 133);
  font-size: 30px;
  height: 60px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  padding-top: 15px;
  position: absolute;
  top: 16%;
  left: 45%;
  transform: translate(-50%, -50%);
}
main .practicas-programa .card-boton .destacado-uno h3,
main .practicas-programa .card-boton .destacado-dos h3 {
  font-size: 15px;
}

main .practicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(186, 200, 204, 0.662745098);
  gap: 20px;
  padding: 30px;
}
main .practicas .card-practicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(186, 200, 204, 0.662745098);
  gap: 10px;
}
main .practicas h4 {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
main .practicas .videos-practicas {
  display: grid;
  justify-content: center;
}
main .practicas .videos-practicas iframe {
  width: 100%;
  height: auto;
}

footer .pie-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0f4a0;
}
footer .pie-pagina .derechos-reservados,
footer .pie-pagina .direccion {
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}
footer .pie-pagina .derechos-reservados p,
footer .pie-pagina .direccion p {
  margin: 0;
}

@media (max-width: 1024px) {
  /* practicas */
  main .practicas-programa {
    grid-template-columns: repeat(2, 1fr);
  }
  main .destacado-uno, main .destacado-dos {
    font-size: 30px;
    height: 50px;
    width: 100px;
  }
  main .beneficios-programa {
    grid-template-columns: repeat(2, 1fr);
  }
  main .beneficios-programa .card-beneficios {
    margin: 0 auto;
    width: 100%;
  }
  main .beneficios-programa .card-beneficios:nth-child(3) {
    grid-column: span 2;
  }
  main .practicas {
    grid-template-columns: repeat(2, 1fr);
  }
  main .formulario {
    grid-template-columns: 1fr;
  }
  main .formulario .contenedor-mapa {
    margin-top: 20px;
  }
  main .formulario .boton-enviar {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .main-index h1 {
    font-size: 50px;
  }
  .main-index .introduccion-main .contenedor-texto {
    grid-template-columns: 1fr;
  }
  .main-index .introduccion-main .contenedor-texto a {
    display: inline-block;
    font-weight: bold;
    border-radius: 45px;
    padding: 15px;
  }
  .contenedor-centrado {
    position: relative;
  }
  .contenedor-centrado .boton-anuncio {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
  }
  main h1 {
    font-size: 50px;
  }
  main .practicas-programa {
    grid-template-columns: repeat(1, 1fr);
  }
  main .practicas-programa .card-boton {
    display: flex;
    justify-content: center;
  }
  main .practicas-programa .card-boton .destacado-uno, main .practicas-programa .card-boton .destacado-dos {
    width: 200px;
    top: 14%;
    left: 50%;
  }
  main .practicas-programa .card-boton .destacado-uno h3, main .practicas-programa .card-boton .destacado-dos h3 {
    font-size: 25px;
  }
  main h1 {
    font-size: 50px;
  }
  main .beneficios-programa {
    grid-template-columns: 1fr;
  }
  main .beneficios-programa .card-beneficios {
    margin: 0 auto;
    width: 100%;
  }
  main .beneficios-programa .card-beneficios img {
    height: auto;
  }
  main .beneficios-programa .card-beneficios:nth-child(3) {
    grid-column: span 1;
  }
  main .practicas {
    grid-template-columns: repeat(1, 1fr);
  }
  main .formulario {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .formulario .form {
    width: 100%;
    font-size: 16px;
  }
  main .formulario .form label,
  main .formulario .form input,
  main .formulario .form select,
  main .formulario .form textarea {
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  main .formulario .contenedor-mapa {
    margin-top: 20px;
    width: 100%;
    padding: 25px;
  }
  main .formulario .contenedor-mapa iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  main .formulario .boton-enviar {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=main.css.map */
