main {
    .practicas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $color-main;
        gap: 20px;
        padding: 30px;

        .card-practicas {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: $color-main;
            gap: 10px;
        }

        h4 {
            font-size: 30px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .videos-practicas {
            display: grid;
            justify-content: center;

            iframe {
                width: 100%;
                height: auto;
            }
        }
    }
}
