// map
$button-sizes:(
    small: 20px,
    medium: 30px,
    large: 40 px
);


    // Esto hace el loop
    // .button-small{
    //     font-size: 20px;
    // }
    // .button-medium{
    //     font-size: 30px;
    // }
    // .button-large{
    //     font-size: 40px;
    // }
