header {
    .menu-nav {
        background-color: $color-header;
    }

    .menu-div {
        display: flex;
        justify-content: center; 

        .logo {
            img {
                height: 250px;
                width: 250px;
            }
        }

        .menu-boton {
            border: none;

            .menu-icon {
                background-image: url(./../img/menu.svg);
                width: 4em;
                height: 3em;
            }
        }

        .menu {
            flex-grow: 0;

            .menu-ul {
                text-align: center;
                justify-content: flex-end; 

                li {
                    display: inline-block;
                    margin-right: 10px;

                    a {
                        color: black;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}