header {
    .menu-nav {
        background-color: #add8e6a9;
    }

        .menu-div {
            .logo {
                img {
                    height: 250px;
                    width: 250px;
            }

            .menu-boton {
                border: none;
            }

                .menu-icon {
                    background-image: url(./../img/menu.svg);
                    width: 4em;
                    height: 3em;
                }
                

            .menu {
                flex-grow: 0;

                .menu-ul {
                    text-align: center;

                    .menu-li {
                        display: flex;
    
                            a{
                                color: black;
                                font-size: 30px;
                                font-weight: bold;  
                            }
                        }
                    }
                }
            }
        }
    }
